*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
    height: 100vh;
    width: 100vw;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    /* background-color: red; */
}
.menue h1{
    border: 1.5px solid black;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
    cursor: pointer;
}
.logo h2{
    font-size: 28px;
    font-weight: 600;
    font-family: emoji;
    letter-spacing: 5px;
}
.btns button{
    padding: 7px 20px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid gray;
    background-color:cornsilk;
}
.btns .active{
    background-color: orange;
}
.main > h1{
    text-transform: uppercase;
    font-size: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.center-images{
    height: 318px;
    width: 275px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.image-0{
    transform: translate(-50%,-50%) rotate(-0deg);
    /* z-index: 10; */
}
.image-1{
    transform: translate(-50%,-50%) rotate(-30deg);
}
.image-2{
    transform: translate(-50%,-50%) rotate(-20deg);
}
.image-3{
    transform: translate(-50%,-50%) rotate(-10deg);
}

.choice{
    position: absolute;
    bottom: 5%;
    left: 40px;
    font-size: 19px;
    font-weight:500;
    cursor: pointer;
    border-bottom: 3px solid gray;
    padding: 3px 0px;
}